* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
    box-sizing: border-box;
    list-style: none;
}

html {
    --black-transparent: rgba(0, 0, 0, .6);
    --cinza-transparent: rgba(138, 138, 138, .9);
    --cinza-escuro: #333;
    --cinza: #808080;
    --black: #000;
    --white-transparent: rgba(255, 255, 255, .8);
    --green-escuro: rgb(2, 107, 2);

    --red: red;
    --green: green;
    --white: #fff;
    --gradiente: rgb(235, 10, 10);
    --gradientes: rgb(94, 11, 172);
    --orange-red: orangered;
    --goldenrod: goldenrod;
}

header {
    width: 100%;
    background: var(--cinza-escuro);
    height: 50px;
    padding: 10px 15px 10px 25px;
}

header .logo {
    color: var(--white);
    font: bold 17pt Arial, sans-serif;
}

header .button_personalizar {
    float: right;
    border: 2px solid var(--white);
    color: var(--goldenrod);
    padding: 6px 8px 6px 8px;
    border-radius: 8px;
    cursor: pointer;
}

header .button_personalizar:hover {
    border-color: var(--goldenrod);
}

body {
    background: linear-gradient(.2turn, var(--gradiente), var(--gradientes));
    background-repeat: no-repeat;
}

main {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 600px) {
    header .button_personalizar {
        cursor: default;
    }
}
